*.bak
*.done
*.flow.rpt
*.map.rpt
*.map.summary

/output_files
/simulation
/greybox_tmp
/incremental_db
/db/*.kpt
/db/*.tdf
/db/*.cdb
/db/*.hdb
/db/*.qmsg
/db/*.rdb
/db/*.ddb
/db/*.xml
/db/*.bpm
/db/*.idb
/db/*.logdb
/db/*.hier_info
/db/*.hif
/db/*.html
/db/*.txt
/db/*.ammdb
/db/*.sci
/db/*.tdb
/db/*.tmw_info
/db/*.hsd
/db/*.json
